# Here we set a bunch of parameters for your image build

# output image name, usually same as repo name, change as needed
IMAGE_NAME="amyos"

# Make this the same as your github username/organisation
REPO_ORGANIZATION="astrovm"

IMAGE_DESC="A custom Fedora Atomic image built on top of Bazzite"
IMAGE_KEYWORDS="bootc,oci,linux"

# Put your own image here for a fancy profile on https://artifacthub.io/!
IMAGE_LOGO_URL="https://raw.githubusercontent.com/astrovm/amyos/main/repo_files/amy-logo-white.png"
DEFAULT_TAG="latest"
BIB_IMAGE="quay.io/centos-bootc/bootc-image-builder:latest"
