[Unit]
Description=Enable mount points in / for ostree
ConditionPathExists=!/nix
DefaultDependencies=no
Requires=local-fs-pre.target nix-setup.service
After=local-fs-pre.target nix-setup.service
[Service]
Type=oneshot
ExecStartPre=chattr -i /
ExecStart=mkdir -p /nix
ExecStopPost=chattr +i /
