[Desktop Entry]
Name=Cursor - URL Handler
Comment=Cursor is an AI-first coding environment.
GenericName=Text Editor
Exec=/usr/share/cursor/cursor --open-url %U
Icon=cursor
Type=Application
NoDisplay=true
StartupNotify=true
Categories=Utility;TextEditor;Development;IDE;
MimeType=x-scheme-handler/cursor;x-scheme-handler/vscode;
Keywords=cursor;
